body {
    color: red;
    background: #ffffff;
    font-family: Times New Roman, Arial, sans-serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
    line-height: 2;
}

h1 {
    color: blue;
    background: #ffffff;
    font-family: Times New Roman, Arial, sans-serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
    line-height: 2;
}

.menu {
    font-size: 20px;
    font-family:  "Microsoft JhengHei Light";
    color: black;
}

.menu__link {
    color: indigo;
}

.form-hint {
    display: block;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 12px;
}
.field23 {
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
    cursor: crosshair;
}

.welcome{
    background-image: url("https://www.cats.org.uk/media/13136/220325case013.jpg?width=500&height=333.49609375");
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;

    text-align: center;
}
